// Mixins Here

.site-name {
  font-size: 4rem;
  margin-bottom: 20px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button(@color; @radius) {
  font-size: 1.8rem;
  background-color: @header-font-color;
  color: @color;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: @radius;
  margin-top: 0;
  display: inline-block;

  &:hover {
    background-color: lighten(@header-font-color; 20%);
    color: yellow;
  }
}
